$primary: #76b486;
$primary-light: #cbf3d9;
$primary-lighter: #f2fcf6;
$primary-dark: #2f4f4f;
$primary-darker: #182828;

$secondary: #87CEEB;
$secondary-light: #BCE7F3;
$secondary-lighter: #DEF3F9;
$secondary-dark: #235A70;
$secondary-darker: #122D38;

$terciary: #F9D71C;
$terciary-light: #FCEB8E;
$terciary-lighter: #FFFAE3;
$terciary-dark: #7D6C0E;
$terciary-darker: #3F3607;

$error: #CA2C35;
$error-light: #EFC0C3;
$error-lighter: #F7E0E1;
$error-dark: #5F0106;
$error-darker: #300103;

$grayscale: #808080;
$grayscale-light: #E0E0E0;
$grayscale-lighter: #F0F0F0;
$grayscale-dark: #202020;
$grayscale-darker: #101010;