@use '../styles/colors';
@use '../styles/breakpoints.scss';

nav {
  padding-right: 2vw;
  height: 10vh;
  width: 50vw;
  position: absolute;
  left: 50vw;
  top: 0;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(min-width: breakpoints.$tablet){

}